/** {
    color: #27829e;
    background-color: white;
}*/

/* sets defaults */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    margin: 50px 10px 30px;
    text-align: center;
}


/* makes the header have set height and colour */
header {
    background-color: #27829e;
    height: 145px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    margin: 15px 10px;
}

/* sets format for images, including rounding corners */
img {
    vertical-align: middle;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.searchitemimage {
    width: 30px;
    height: 30px;
}

/* formats only the images in the all items list (size, shadow) */
.allitemsimage {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 5px 5px #49a4c0;
}

.singleitemimg {
    width: 250px;
    height: 250px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

/* sets main (not header/footer/etc) to be less wide than the page and centred in the page */
main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

a {
    color: #27829e;
}

a:hover {
    color: #49a4c0;
}

/* makes "button" links buttons */
a.button {
    text-decoration: none;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1em;
    color: #000000;
}

a.button:hover {
    background-color: #cccccc;
}

a:active {
    color: #27829e;
}

/* sets the styling for the button link for the current page*/
#current {
    background-color: #49a4c0;
    font-size: 110%;
    color: white;
}

nav {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #dedede;
}

/* sets height and colour etc for footer */
/*footer {
    background-color: #dedede;
    margin-top: 40px;
    height: 50px;
}*/
